:root{
    --primary-color: #001C55;
}

#button-translate{
    height: 2rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid;
    color: white;
    background-color: var(--primary-color);
    margin: 1rem 10rem;
}

#input-text{
    height: 10rem;
    width: 70%;
    margin: 1rem ;
}