:root{
    --primary-color: #f5e050;
}

body{
    margin: 0px;
}

#button-translate{
    height: 2rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid;
    color: black;
    background-color: var(--primary-color);
    margin-top: 1rem;
    margin-left: 10rem;
    font-weight: 600;
}

#text-input{
    height: 20vh;
    width: 50%;
    display: block;
    margin-top: 1rem;
    margin-left: 10rem;
    padding: 1rem;
}

.navigation{
    background-color: var(--primary-color);
    text-align: center;
    padding: 1.5rem;
    font-weight: bolder;
    font-size: 3rem;

}

#text-output{
    height: 20vh;
    width: 50%;
    display: block;
    margin-top: 1rem;
    margin-left: 10rem;
    padding: 1rem;
}

.footer{
    background-color: var(--primary-color);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 3rem;
    padding: 2rem 1rem;
}
